header
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body
{
  /*background-image: url('Imgs/bckgd.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #1b1f22;*/
}

nav ul
{
  border-style: solid;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

footer
{
  display: flex;
  justify-content: center;
}

a
{
  color: black;
  font-style: italic;
}

a:hover
{
  text-decoration: none;
  font-weight: bold;
}
