.orange
{
  color: #ff8533;
}

.white
{
  color: #ffffff;
}

.centered
{
  text-align: center;
}

mark
{
  background-color: black;
  border: 3px grey inset;
  border-radius: 10px;
  box-shadow: 6px 6px 6px black;
}

body
{
    /*background-color: rgb(244, 152, 65);*/
}

nav
{
  width: 20%;
  margin-right: 0;
}

p
{
  font-size: 1em;
  font-family: Georgia, Verdana, serif;
}

a
{
  font-size: 1em;
  text-decoration: undeline;
  color: black;
  font-style: italic;
}

a:hover
{
  text-decoration: underline;
  color: grey;
  font-weight: bold;
}

em
{
  color: red;
}
