.orange
{
  color: #ff8533;
}

.white
{
  color: #ffffff;
}

.header_host
{
  display: flex;
  justify-content: center;
}

.header_list
{
  display: flex;
  justify-content: space-around;
}

.body-host
{
  display: flex;
  background-color: rgb(255, 152, 65, 0.7);
  text-align: center;
}

.body-describe
{
  display: flex;
  background-color: rgb(255, 152, 65, 0.7);
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.body-list
{
  display: flex;
  background-color: rgb(255, 152, 65, 0.7);
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.content
{
  border: 1px grey solid;
}

body
{
  background-image: url('Imgs/bckgd.jpg');
}

section
{
  margin: auto;
}

header
{
  background-color: rgba(196, 196, 196, 0.5);
  border: 0px grey solid;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav
{
  width: 10%;
  background-color: rgba(252, 113, 20, 0.5);
  text-align: left;
}

footer
{
  background-color: rgba(196, 196, 196, 0.5);
  text-align: left;
  border: 3px grey solid;
  border-color: rgba(196,196,196, 0.5);
  border-radius: 10px;
  margin-top: 20px;
}

mark
{
  background-color: black;
  border: 3px grey inset;
  border-radius: 10px;
  box-shadow: 6px 6px 6px black;
}

p
{
  font-size: 1em;
  font-family: Georgia, Verdana, serif;
}

h2
{
  text-decoration: underline;
}

a
{
  font-size: 1em;
  text-decoration: undeline;
  color: black;
  font-style: italic;
}

a:hover
{
  text-decoration: underline;
  font-weight: bold;
}

ul
{
  list-style: none;
}

em
{
  color: red;
}
