/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Roboto/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/Roboto/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

#cv {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 8px;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(163, 163, 163, 0.4);
    font-family: 'Roboto', serif;
    overflow: auto;
    color: black;
}

@media only screen and (min-width: 768px) {
    #cv {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .cv-elem {
        margin: 2em 0;
        text-align: center;
    }
    /* #skills {
        border-style: solid;
        border-width: 0 0 0 1px;
    }
    #education {
        border-style: solid;
        border-width: 0 1px;
    } */
}

.cv-elem {
    display: flex;
    flex-direction: column;
}

.cv-elem ul, .cv-elem h2 { 
    text-align: center;
}

#profile_pic {
    border-radius: 3%;
    max-width: 100%;
    height: auto;
}

.external_logo {
    width: 100%;
    max-width: 12em;
    height: auto;
}

.bold_li {
    font-weight: bold;
    text-decoration: underline;
}

html {
    height: 100%;
    background: url('../img/bkg2.png') no-repeat center fixed;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
    border-style: solid;
    border-width: 0 0 1px 0;
}

h2 {
    text-align: left;
    font-style: italic;
}

ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}